<h1><%= @user_product.brand %> </h1>

<%= form_for @user_product, url: {action: "update"}, html: {class: "update_form"} do |f| %>
  <p>Date Added : <%= @user_product.created_at %> </p>
  
  
  <%= f.label :brand %>
  <%= f.text_field :brand%>

  <%= f.label :product_details %>
  <%= f.text_field :product_details %>

  
  <%= f.label :length_of_time %>
  <%= f.text_field :length_of_time %>
  

  <%= f.label :storage%>
  <%= f.text_field :storage%>

  <%= link_to "Back", user_added_product_path %>
  <%= f.submit "Update Item" %> 

<% end %>

