<h1><%= @user_product.brand %> </h1>

<%= form_for @user_product, url: {action: "update"}, html: {class: "update_form"} do |f| %>
  <p>Date Added : <%= @user_product.created_at %> </p>
  
  
  <%= f.label :brand %>
  <%= f.text_field :brand%>

  <%= f.label :product_details %>
  <%= f.text_field :product_details %>

  
  <%= f.label :number_unit_of_time, "Num Time:" %>
  <%= f.select(:number_unit_of_time, options_for_select(1..7)) %> 

  <%= f.label :unit_of_time_period, "Unit of Time:" %>
  <%= f.select(:unit_of_time_period, options_for_select(["Day(s)", "Week(s)", "Month(s)", "Year(s)" ])) %> 

  

  <%= f.label :storage%>
  <%= f.text_field :storage%>




  <%= link_to "Back", user_added_product_path %>
  <%= f.submit "Update Item" %> 

<% end %>

