<div class="products-panel">
<h1><i class="fa fa-pencil-square-o"></i>&nbsp;<%= @user_product.name.upcase %> </h1>

<%= form_for @user_product, url: {action: "update"}, html: {class: "update_form"} do |f| %>


  <div class = "light well">
    <h4 class="inverse">PRODUCT INFORMATION</h4>
    <%= f.label :name, "PRODUCT" %>
    <%= f.text_field :name%>

    <%= f.label :product_details, "PRODUCT DETAILS" %>
    <%= f.text_field :product_details %>

    <p>DATE ADDED : <%= @user_product.created_at.strftime("%Y-%m-%d") %> </p>

    <%= f.label :number_unit_of_time, "Num Time:" %>
    <%= f.select(:number_unit_of_time, options_for_select(1..7)) %> 

    <%= f.label :unit_of_time_period, "Unit of Time:" %>

    <%= f.select(:unit_of_time_period, options_for_select(["Day(s)", "Week(s)", "Month(s)", "Year(s)" ])) %> <br>

    <%= f.label "Date of Expiration:" %>
      <%= f.text_field :exp_date , :id => "datepicker"%> 
    </i>

    <%= f.label :storage, "STORAGE"%>
    <%= f.text_field :storage%>

  </div>

  <div class = "light well">
    <h4 class="inverse">PRODUCT NOTIFICATION</h4>
    <%= f.check_box(:email) %>
    <%= f.label(:email, "NOTIFY ME BY EMAIL") %>

    <%= f.check_box(:sms) %>
    <%= f.label(:sms, "NOTIFY ME BY TEXT") %>

    <%= radio_button_tag(:day_of?, "Default notification date", value="1") %>
    <%= label_tag(:default_notification, "Notify me on the expiration date.") %>

    <%= radio_button_tag(:day_of?, "Specific notification date") %>
    <%= label_tag(:specific_notification, "Notify me before the expiration date.") %>
    
    <div id="select_notification_date" style="display:none">
      <select id='notify_num' name='notify_num'>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
      </select>

      <select id='notify_date_type' name='notify_date_type'>
        <option value='Day(s)'>Day(s)</option>
        <option value='Week(s)'>Week(s)</option>
        <option value='Month(s)'>Month(s)</option>
        <option value='Year(s)'>Year(s)</option>
      </select>
    </div>
    <input id="notification_date" name="user_added_product[notification_date]" /><br />
  </div>
    <div class="light well">
      <h4 class="inverse">NOTIFICATION RECIPIENTS</h4>
        <table class = "recipients-table">
          <tr>
              <th><i class="fa fa-user"></i> NAME</th>
              <th><i class="fa fa-envelope-o"></i> EMAIL</th>
              <th><i class="fa fa-phone"></i> PHONE NUMBER</th>
              <th><i class="fa fa-edit"></i> EDIT</th>
              <th><i class="fa fa-trash-o"></i> DELETE</th>
            
          </tr>
        <% @user_product.recipients.each do |r| %>
           <tr> 
            <td>
              <%= r.name.capitalize %>
            </td>
            <td>
              <%= r.email %>
            </td>
            <td>
              <%= r.phone_number %>
            </td>
            <td>
              <%= link_to ' <i class="fa fa-edit"></i> EDIT'.html_safe, edit_user_added_product_recipient_path(@user_product, r) %>
            </td>
            <td>
            <%= link_to '<i class="fa fa-trash-o"></i> DELETE'.html_safe, user_added_product_recipient_path(@user_product, r), method: :delete, data: { confirm: "Are you sure?" }%>
            </td>
          </tr> 
        <% end %>
      </table>
     <p id="add_recipients" class="btn btn-info"><i class="fa fa-plus"></i> ADD NOTIFICATION RECIPIENTS </p>
      <div id="add_ppl">
    </div>
    </div>


    
    <%= link_to "<i class='fa fa-chevron-circle-left'></i> &nbsp;BACK".html_safe, user_added_product_path, class: "btn btn-info round2" %>
    <%= f.submit "UPDATE", class: "btn btn-info round2" %>


<% end %>
</div>
