<h1>
  <i class="fa fa-list-alt"></i> <%= current_user.name.capitalize %>'s List
</h1>

  <p> List of Items </p>
<div class="light well">
  <%= render "layouts/flash_notices" %>
  <p> My Products </p>
  <ul>
    <% @products.each do |product|%>
      <li> 
        <%= link_to "#{product.name}".capitalize, user_added_product_path(product) %>
      </li>
      <li> <%= "#{product.exp_date}" %>
    <% end %>  
  </ul>
</div>
<div class="light well">
  No Notifications Sent
</div>
<%= link_to "<i class='fa fa-plus'></i> &nbsp;Add Item".html_safe, new_user_added_product_path, class: "btn btn-info round2" %>
