<div class="products-panel">
<h1>
  <i class="fa fa-plus small-i"></i>
  <i class="fa fa-list-ol"></i> &nbsp;ADD PRODUCT TO LIST
</h1>

<%= form_for(@user_product) do |f|%>

    <div class = "products light well">
      <%= render "layouts/flash_notices" %>
      <h4 class="inverse">PRODUCT INFORMATION</h4>
      

      <div class="field-row ">
        <div class="field field-first">
          <%= f.label :name, "PRODUCT" %>
          <%= f.text_field :name, data: {autocomplete_source: Product.all.order(:name).map(&:name)} %>
        </div>
        <div class="form-field">
          <%= f.label :product_details, "PRODUCT DETAILS" %>
          <%= f.text_field :product_details %>
        </div>
      </div>
      
      <div class="field-row">
        <div class="field field-first">
          <%= f.label :number_unit_of_time, "LENGTH OF TIME" %>
          <%= f.select(:number_unit_of_time, options_for_select(1..15)) %> 
        </div>
        <div class="field">
          <%= f.label :unit_of_time_period, "UNIT OF TIME" %>
          <%= f.select(:unit_of_time_period, options_for_select(["Day(s)", "Week(s)", "Month(s)", "Year(s)" ])) %> <br> 
        </div>
      </div>
      
      <div class="field-row">
        <div class="field field-first">
          <%= f.label :exp_date, "DATE OF EXPIRATION" %>
      		<%= f.text_field :exp_date , :id => "datepicker"%>
        </div> 
        
        <div class="field">
          <%= f.label :storage, "STORAGE" %>
      	  <%= f.text_field :storage %>
        </div>
      </div>
    </div>

    <div class = "products light well">
    <h4 class="inverse">PRODUCT NOTIFICATION</h4>

    <div class="field-row">
      <div class="field field-first">
        <%= f.check_box(:email) %>
        <%= f.label(:email, "NOTIFY ME BY EMAIL") %>
      </div>
      <div class="field">
        <%= f.check_box(:sms) %>
        <%= f.label(:sms, "NOTIFY ME BY TEXT") %>
      </div>
    </div>
        <div class="field-row">
        <%= radio_button_tag(:day_of?, "Default notification date", value="1", {class: "clickbox"}) %>
        <%= label_tag(:default_notification, "NOTIFY ON DATE OF EXPIRATION") %>
    </div>
      <div class="field-row">
        <%= radio_button_tag(:day_of?, "Specific notification date", {class: "clickbox"}) %>
        <%= label_tag(:specific_notification, "NOTIFY BEFORE DATE OF EXPIRATION") %>
      </div>
  
    
    <div class="field-row">
    <div id="select_notification_date" style="display:none">
      
        <div class="field field-first">
          <select id='notify_num' name='notify_num'>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
          </select>
        </div>

          <div class="field">
            <select id='notify_date_type' name='notify_date_type'>
              <option value='Day(s)'>Day(s)</option>
              <option value='Week(s)'>Week(s)</option>
              <option value='Month(s)'>Month(s)</option>
              <option value='Year(s)'>Year(s)</option>
            </select>
        </div>
      </div> 
    </div>

    <div class="field-row field-single">
        <input id="notification_date" name="user_added_product[notification_date]" />
    </div>

    <%#= link_to 'Add people to notifications', '#add_recipients',
          :onclick => 'add_ppl_to_notification()', id: "add_recipients" %>
  <p id="add_recipients" class="btn btn-info"><i class="fa fa-plus"></i> ADD NOTIFICATION RECIPIENTS </p>
 
  <div id="add_ppl">
  </div>
</div>

    <%= f.submit "ADD PRODUCT TO MY LIST", class: "btn btn-info round2" %>
<% end %>
 
<%= link_to "<i class='fa fa-times'></i> CANCEL".html_safe, user_added_products_path, class: "btn btn-inverse round2" %>
</div>
</
