
<h1><i class="fa fa-plus small-i"></i><i class="fa fa-list-ol"></i> &nbsp;Add items to my list.</h1>
<%= form_for(@user_product) do |f|%>

    <%= f.label "Name:" %>
    <%= f.text_field :name, data: {autocomplete_source: Product.all.order(:name).map(&:name)} %>
    <div class = "light well">

        <%= f.label :product_details %>
        <%= f.text_field :product_details %>

        <%= f.label :number_unit_of_time, "Num Time:" %>
        <%= f.select(:number_unit_of_time, options_for_select(1..20)) %> 

        <%= f.label :unit_of_time_period, "Unit of Time:" %>
        <%= f.select(:unit_of_time_period, options_for_select(["Day(s)", "Week(s)", "Month(s)", "Year(s)" ])) %> <br> 

    		<%= f.label "Date of Expiration:" %>
            <%#= link_to "Product has it's own expiration date",id: "ownExpDate" %>
    		<%= f.text_field :exp_date , :id => "datepicker" %> <img src="fa-calendar.png" /> 
        
        <%= f.label :storage, "Storage:" %>
    	<%= f.text_field :storage %>
    </div>

    <div class = "light well">
  
    <%= f.check_box(:email) %>
    <%= f.label(:email, "Notify me by email") %>

    <%= f.check_box(:sms) %>
    <%= f.label(:sms, "Notify me by text message") %>

    <%#= radio_button_tag(:day_of) %>
    <%#= label_tag(:day_of, "Notify me on the day of expiration") %> <br>


    <%#= radio_button_tag(:notify_day, "before") %>
    <%#= label_tag(:notify_before, "Notify me BEFORE expiration date.") %>

    <%#= select_tag(:notify_num, options_for_select(1..7)) %>
    <%#= select_tag(:notify_date_type, options_for_select(["Day(s)", "Week(s)", "Month(s)", "Year(s)" ])) %> <br >

    <div id="add_ppl">
    <%= link_to 'Add people to notifications', '#',
          :onclick => 'add_ppl_to_notification()' %>
    </div>
  </div>
  <div class="field">
 <!--    <h2>Recipient</h2> -->
  <%# f.fields_for(:recipients, Recipient.new) do |recipient_field| %>
     <%# recipient_field.label :name %>
     <%# recipient_field.text_field :name %>
     <%# recipient_field.label :email %>
     <%# recipient_field.text_field :email %>
     <%# recipient_field.label :phone_number %>
     <%# recipient_field.text_field :phone_number %>
  <%# end%>
</div>

    <%= f.submit "Add Item", class: "btn btn-info round2" %>
<% end %>
 
<%= link_to "<i class='fa fa-times'></i> Cancel".html_safe, user_added_products_path, class: "btn btn-inverse round2" %>
<%= link_to "Cancel", root_path %>


