<h1><%= @user_product.brand %> </h1>
<p>Date Added : <%= @user_product.created_at %> </p>
<p>Time of Exp: <%= @user_product.number_unit_of_time %> <%= @user_product.unit_of_time_period %></p>
<p>Storage Type : <%= @user_product.storage %></p>
<p>Brand: <%= @user_product.brand %></p>
<p>Product Details: <%= @user_product.product_details %></p>

<p>Expiration Date : <%= @exp_date %></p>

<p>Notify Me By : <%= @user_product.exp_date%></p>
<%= link_to "Back", user_added_products_path %>
<%= link_to "Edit", edit_user_added_product_path(@user_product) %>
<%= link_to 'Destroy', @user_product, :confirm => 'Are you sure?', :method => :delete %>
