<h1><%= @user_product.brand %> </h1>
<p>Date Added : <%= @user_product.created_at %> </p>
<p>Length of Time: <%= @user_product.length_of_time %></p>
<p>Storage Type : <%= @user_product.storage %></p>
<p>Brand: <%= @user_product.brand %></p>
<p>Expiration Date : <%= @user_product.exp_date%></p>
<p>Notify Me By : <%= @user_product.exp_date%></p>
<%= link_to "Back", user_added_products_path %>
<%= link_to "Edit", edit_user_added_product_path(@user_product) %>
<%= link_to 'Destroy', @user_product, :confirm => 'Are you sure?', :method => :delete %>
