<h1>Edit User Info</h1>


<%= form_for(@user, url: {action: "update"}, html: {class: "update_form"} do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
    
   <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div> 
  
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number %>
  </div>
  
<% end %>

  <%= link_to "Back", user_added_products_index_path %>
  <%= f.submit "Update Item" %> 