<div class="panel">
  
  <div class = "login-form">
    <div class="panel-heading">
      <h1>SIGN UP</h1>
    </div>

    <div class="panel-body">
      <%= render 'layouts/flash_notices' %>
       <%= form_for(@user, :html => {:class => 'signup_form'}) do |f| %>
        
        <%= f.label :name, "NAME" %>
        <%= f.text_field :name %>

        <%= f.label :email, "EMAIL" %>
        <%= f.text_field :email %>

        <%= f.label :password, "PASSWORD" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "PASSWORD CONFIRMATION"%>
        <%= f.password_field :password_confirmation %>

        <%= f.label :phone_number, "PHONE NUMBER" %>
        <%= f.telephone_field :phone_number %>
        <br>
        <br>
        <%= f.submit("SIGN UP", :class => "btn btn-inverse round2")%>
        <br>
        <br>
        <%= link_to "SIGN IN", login_path%>
      <% end %>
    </div>
  </div>

  <div class="login-intro">
    <p>Can't keep track of when products expire? Let us do the work. Sign in to Perishably.</p>
  </div>
</div>


