<h1><%= @product.name %> </h1>

<%= form_for @product, url: {action: "update"}, html: {class: "update_form"} do |f| %>
  <p>Date Added : <%= @product.created_at %> </p>
  <p>Name : <%= @product.name %></p>

  <%= f.label :time%>
  <%= f.text_field :time%>

  <%= f.label :storage%>
  <%= f.text_field :storage%>

  <%= link_to "Back", product_path %>
  <%= f.submit "Update Item" %> 

<% end %>

