<%= render "layouts/flash_notices" %>

<h1>User's List</h1>

<p> List of Items </p>
<ul>
  <% @product_users.each do |product|%>
    <li> <a href="/products/<%= product.id %>">
      <%= product.name %> </a> </li>
    <!--<li> <%= product.time %> </li> -->
  <% end %> 
</br>
<%= link_to "Add Item", new_product_path %>
</ul>