<h1>Add new items to my list.</h1>

<%= form_for @product, url: {action: "create"}, html: {class: "new_form"} do |f| %>
  <%= f.label :name, "Product Name" %>:
  <%= f.text_field :name %>

  <%= f.label :time, "Length of Time:" %>
  <%= f.text_field :time %>

  <%= f.label :storage, "Storage:" %>
  <%= f.text_field :storage %>

  <%= link_to "Cancel", root_path %>
  <%= f.submit "Create" %>
<% end %>
