<!DOCTYPE html>
<html>
  <head>
    <title>Perishab.ly</title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>  
  <body>
    <div id = "container" class= "container-fluid">
      <div id = "user_header">
        <% if current_user %> 
          <div class ="navbar navbar-fixed-top">
            <div class ="navbar-inner">
              <h2> PERISHAB.LY </h2>
              Logged in as <%= current_user.email %>
              <div class="pull-right clearfix:after">
                <%= link_to "SIGN OUT", logout_path, class: "btn btn-inverse round2" %>
              </div>
            </div>
          </div>
        <% end %>
      </div> 
    
      <div class="deep well">
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
