<!DOCTYPE html>
<html>
  <head>
    <title>Perishab.ly</title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  </head>  
  <body>
    <div id = "container" class= "container-fluid">
      <div id = "user_header">
        <% if current_user %> 
          <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </a>
                <a class="brand main" style="left: 836px; position: absolute;">Perishab.ly</a>
                <div class="nav-collapse">
                      <ul class="nav pull-left">
                        <li>Logged in as <%= current_user.email %> </li>
                    <!-- <li class="smooth"><a href="#topLink" class="smooth">Home</a></li>
                    <li><a href="#showcase" class="smooth">Showcase</a></li>
                    <li><a href="#features" class="smooth">Features</a></li>
                    <li><a href="#newElements" class="smooth">Elements</a></li>
                    <li><a href="#contactFooter" class="snooth">Contact</a></li> -->
                    
                  </ul>
                  <div class="pull-right">
                    <%= link_to "<i class='fa fa-sign-in'></i> &nbsp;Logout".html_safe, logout_path, class: "btn btn-info round2" %>
                  </div>
                    </div>
                
              </div>
            </div>
          </div>
        <% end %>
      </div> 
    
      <div class="deep well">
        
        <%= yield %>
      </div>


    </div>
    <footer>Perishb.ly &copy; 2014</footer>
  </body>
</html>
